graph {
	padding: 60px, 60px;
}

node {
	size: 100px;
	shape: circle;
	fill-color: #c4e8f7;
	text-color: #7eaad3;
	stroke-mode: plain;
	stroke-color: #7eaad3;
	text-alignment: center;
	text-offset: 10px, 0px;
}

node:selected {
	size: 125px;
	fill-color: #ffc9ae;
	text-color: #ff8000;
	stroke-color: #ff8000;
}

node.Init {
	stroke-color: #00bf00;
	stroke-width: 2px;
}

node.End {
	stroke-color: #2bb5b5;
	stroke-width: 2px;
}

node.AtMostOne {
	stroke-color: #4b58f3;
	stroke-width: 2px;
}

node.Participation {
	stroke-color: #cc2665;
	stroke-width: 2px;
}

edge {
	fill-color: #7eaad3;
	shape: line;
}

edge:selected {
	fill-color: red;
}

edge.outgoing {
	fill-color: #008080;
}

edge.incoming {
	fill-color: #ff8000;
}

edge.AlternateSuccession {
	fill-color: #ff8000;
}

edge.AlternatePrecedence {
	fill-color: #e3f50a;
}

edge.NotChainSuccession {
	fill-color: #a6a6ff;
}

edge.CoExistence {
	fill-color: #b8ffa6;
}

edge.NotSuccession {
	fill-color: #f38386;
}

edge.ChainPrecedence {
	fill-color: #f0bb86;
}

edge.AlternateResponse {
	fill-color: #bdb9b9;
}
