graph {

}

node {
	size: 100px, 100px;
	shape: circle;
	fill-color: #c4e8f7;
	text-color: #7eaad3;
	stroke-mode: plain;
	stroke-color: #7eaad3;
	text-alignment: center;
	text-offset: 10px, 0px;
}

sprite {
	size: 20px, 20px;
	shape: circle;
	fill-color: #c4e8f7;
	text-color: #7eaad3;
	stroke-mode: plain;
	stroke-color: #7eaad3;
	text-alignment: center;
	text-size: 20px;
	text-offset: 0px, 5px;
}

node.Init {

}

node.End {

}

node.AtMostOne {
	stroke-color: #800080;
}

node.Participation {
	stroke-color: #ff8040;
}

node:clicked {
	fill-color: #7eaad3;
	stroke-color: #c4e8f7;
	text-color: #c4e8f7;
}

edge {
	fill-color: #7eaad3;
	shape: line;
}

edge.AlternateSuccession {
}

edge.AlternatePrecedence {
}

edge.NotChainSuccession {
}

edge.CoExistence {

}

edge.NotSuccession {

}

edge.ChainPrecedence {

}

edge.AlternateResponse {

}
