graph {
	padding: 60px, 60px;
}

node {
	size: 100px;
	shape: circle;
	fill-color: #c4e8f7;
	text-color: #7eaad3;
	stroke-mode: plain;
	stroke-color: #7eaad3;
	text-alignment: center;
	text-offset: 10px, 0px;
}

sprite {
	size: 0px;
	shape: box;
	fill-color: rgba(0,0,0,0);
	stroke-mode: plain;
	stroke-color: rgba(0,0,0,0);
	text-alignment: center;
	text-size: 13px;
}

node:selected {
	size: 125px;
	fill-color: #ffc9ae;
	text-color: #ff8000;
	stroke-color: #ff8000;
}

node.Init {

}

node.End {

}

node.AtMostOne {
	stroke-color: #800080;
}

node.Participation {
	stroke-color: #ff8040;
}

edge {
	fill-color: #7eaad3;
	shape: line;
}

edge.outgoing {
	fill-color: #008080;
	size: 4px;
}

edge.incoming {
	fill-color: #ff8000;
	size: 4px;
}

edge.AlternateSuccession {
}

edge.AlternatePrecedence {
}

edge.NotChainSuccession {
}

edge.CoExistence {

}

edge.NotSuccession {

}

edge.ChainPrecedence {

}

edge.AlternateResponse {

}
