.root {
    -fx-font-size: 12px;
    -fx-font-family: sans-serif;
    -fx-text-fill: "#393939";
	-fx-font-family: open sans; 
}

.clickable {
	-fx-cursor: hand;
}

.menu-button {
	-fx-background-color: transparent;
	-fx-text-fill: #e8eaf6;
	-fx-font-family: open sans;
	-fx-font-size: 16px;
	-fx-cursor: hand;
	-fx-graphic-text-gap: 35px;
	-fx-padding: 15px;
}

.menu-button:hover {
	-fx-font-weight: bold;
	-fx-background-radius: 0px;
	-fx-background-color: #4bb3fd;
}

.content {
	-fx-border-width: 0 0 0 1px;
	-fx-border-color: #393939;
}

.area-content {
	-fx-padding: 0 0 15px 0;
}

.constraints-table {
	-fx-padding: 0 0 30px 0;
}

.area-header {
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #00a6fb, #4bb3fd);
}

.area-header-label {
	-fx-font-size: 24px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-padding: 20px 10px;
}

.section-header1, .section-header2 {
	-fx-font-weight: bold;
	-fx-text-fill: #393939;
	-fx-text-alignment: center;
}

.section-header1 {
	-fx-font-size: 18px;
}

.section-header2 {
	-fx-font-size: 16px;
}

.section {
	-fx-padding: 10px 30px 0 30px;
	-fx-spacing: 10px;
}

.section-menu {
	-fx-border-width: 0 1px 0 0;
	-fx-border-color: #393939;
	-fx-background-color: white;
}

.model-canvas {
	-fx-border-color: #A5A39C;
	-fx-border-width: 1px;
	-fx-border-radius: 2px;
}

.table, .log-infos {
	-fx-border-width: 1 0 1 0;
	-fx-border-color: #A5A39C;
}

.column-left .column-header .label, .column-left .label {
	-fx-alignment: CENTER-LEFT;
	-fx-background-color: transparent;
}

.info-icon-header {
	-fx-font-size: 30px;
	-fx-padding: 200px 0 0 0;
	-fx-alignment: center;
	-fx-text-fill: #A5A39C;
}

.info-icon:hover {
	-fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

.info-icon-label {
	-fx-alignment: center;
	-fx-font-size: 18px;
	-fx-padding: 10px 0 0 0;
	-fx-text-fill: #A5A39C;
}

.column-right .label {
	-fx-alignment: CENTER-RIGHT;
	-fx-background-color: transparent;
}

.column-center .column-header .label, 
.column-center.table-column, 
.column-center .label, 
.column-center .table-cell {
	-fx-alignment: CENTER;
	-fx-background-color: transparent;
}

.column-header,
.column-header .filler,
.column-header-background .filler {
    -fx-background-color: white;
}

.table-view, .list-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: green;
}

.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: blue;
}

.table-view .table-cell, .list-cell {
    -fx-border-width: 0 0 0 0;
    -fx-background-color:white;
    -fx-text-fill: #393939;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #393939;
    -fx-text-fill: white;
}

.table-cell:selected {
	-fx-background-color: blue;
}

.table-row-cell {
    -fx-border-width: 0 0 0 0;
    -fx-border-color: white;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: #aaaaaa;
}
.table-row-cell:hover .text {
       -fx-background-color: steelblue;
       -fx-text-fill: red;
}

.table-row-cell {
	-fx-border-width: 0 0 0 0;
}

.lightbox {
	-fx-background-color: rgba(255, 255, 255, 1);
    -fx-effect: dropshadow(gaussian, grey, 10, 0, 0, 0);
    -fx-background-insets: 10;
    -fx-padding: 20px;
}

.btn-default {
	-fx-border-width: 2px;
	-fx-border-color: #393939;
	-fx-font-weight: bold;
	-fx-background-color: #393939;
	-fx-text-fill: white;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-cursor: hand;
}

.btn-round {
	-fx-background-radius: 40px;
	-fx-border-radius: 40px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
}

.btn-header {
	-fx-background-color: white;
	-fx-text-fill: #393939;
	-fx-border-color: white;
}

.btn-default:hover {
	-fx-border-color: #232323;
	-fx-background-color: #232323;
}

.btn-header:hover {
	-fx-background-color: grey;
	-fx-text-fill: #393939;
	-fx-border-color: grey;
}

.btn-save {
	-fx-border-color: #40d622;
	-fx-background-color: #40d622;
}

.btn-save:hover {
	-fx-border-color: #39bb1b;
	-fx-background-color: #39bb1b;
}

.btn-important {
	-fx-border-color: #fcbe03;
	-fx-background-color: #fcbe03;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #393939;
    -fx-background-radius: 5em;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0.5;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{	
    -fx-background-color: #595959;
	-fx-background-radius: 10 10 0 0, 9 9 0 0, 8 8 0 0;
}

.tab-pane .tab:selected
{
   	-fx-background-color: white;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #393939;
}

.tab:selected .focus-indicator {
    -fx-border-radius: 9 9 0 0, 8 8 0 0;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 5 2 0 0;
}

.trace-info {
	-fx-background-color: #393939;
	-fx-text-fill: white;
	-fx-padding: 10px; 
}

.trace-info-index {
	-fx-text-fill: white;
	-fx-font-size: 30px;
	-fx-padding: 20px 40px;
}

.trace-info-activity-label {
	-fx-font-size: 24px;
	-fx-text-fill: white;
}

.trace-info-content {
	-fx-text-fill: white;
}
