.root {
    -fx-font-size: 12px;
    -fx-font-family: sans-serif;
    -fx-text-fill: "#393939";
	-fx-font-family: open sans;
	
	-activity-background-color: rgba(196,232,247,1);
	-activity-border-color: rgb(61,136,195); 
	
	-color-light-blue: #4bb3fd;
	-color-darker-blue: #00a6fb;
}

.clickable {
	-fx-cursor: hand;
}

.background {
	-fx-background-color: white;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.activityLabel {
  -fx-font-size: 9pt;
  -fx-font-family: "Arial";
  -fx-text-fill:-activity-border-color;

  -fx-wrap-text:true;
}

.constraintText {
	-fx-font-family: "Arial";
	-fx-font-size:7pt;
	-fx-text-fill:-activity-border-color;
}

.constraintPaneActivityLabel{
	-fx-background-color: -activity-background-color; /*:#C4E8F7;*/
	-fx-border-color: -activity-border-color;
	-fx-border-radius: 2;
	-fx-background-radius: 2;
	-fx-padding: 5;
	-fx-text-fill: -activity-border-color;
}

.constraintPaneActivityBox{
	-fx-padding: 10 0 0 0 ;
	
}

.editConstraintSideBox{
	-fx-border-color: -activity-border-color;
	-fx-border-radius: 2;
	-fx-padding:0 10 10 10;
}

.editConstraintAddButtonBox{
	-fx-padding: 5 10 0 0;
}

.editConstraintTypeSelection{
	-fx-padding:5;
}

.selectedLabel{

	-fx-background-color: #dddddd;
	-fx-padding: 15;
}

.actionButton {
	-fx-padding: 5;
	-fx-border-color: black; 
	-fx-border-width: 1; 
}

.structuringElements, .cardinalityElements {
	-fx-fill:#ffffff;
	-fx-stroke:-activity-border-color;
}

.activity{
	-fx-fill: -activity-background-color;/*#C4E8F7;*/
	-fx-stroke:-activity-border-color;
}

.selectedActivity {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	
	-fx-fill: rgba(196,232,247,0.8);
	/*-fx-fill: -activity-background-color;*/
	
	-fx-stroke:-activity-border-color;
}

.highlightedActivity {
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,0, 0.6) , 10, 0.0 , 0 , 1 );
	
	-fx-fill: -activity-background-color;/*#C4E8F7;*/
	-fx-stroke:-activity-border-color;
}

.line {
	-fx-stroke: -activity-border-color;
	-fx-stroke-width: 1;
}

.dashedline {
	-fx-stroke: -activity-border-color;
	-fx-stroke-dash-array: 10;
    -fx-stroke-dash-offset: 15;
    -fx-stroke-width: 1;
}

.lineOptimized{
	-fx-stroke: lightgrey;
	-fx-stroke-width: 1;
	-fx-text-fill:lightgrey;
}

.newNegativeCircle{
	-fx-fill: white;
	-fx-stroke: lightgrey;
}

.invisible{
	-fx-background-color: transparent;
	-fx-fill: transparent;
	-fx-stroke: transparent;
	-fx-text-fill: transparent;
}

.alternateLabel{
	 -fx-font: 16px "Serif";
	 -fx-text-fill: -activity-border-color
}

.connectable{
	-fx-background-color: red;
}

.negArrow{
	-fx-fill:WHITE;
	-fx-stroke: grey; /*-activity-border-color;*/
}

.arrow{
	-fx-fill:-activity-border-color;
}

.menu-button {
	-fx-background-color: transparent;
	-fx-text-fill: #e8eaf6;
	-fx-font-family: open sans;
	-fx-font-size: 14px;
	-fx-cursor: hand;
	-fx-graphic-text-gap: 25px;
	-fx-padding: 15px;
	-fx-font-weight: bold;
}

.menu-button.active-menu, .menu-button:hover {
	-fx-font-weight: bold;
	-fx-background-radius: 0px;
	-fx-background-color: #4bb3fd;
}

.area-content {
	-fx-padding: 0 0 15px 0;
}

.constraints-table {
	-fx-padding: 30px;
	-fx-border-color: #4bb3fd;
	-fx-border-width: 0 0 0 2px;
	-fx-background-color: white;
}

.area-header {
	-fx-background-color: white;
}

.area-header-label {
	-fx-font-size: 24px;
	-fx-text-fill: #393939;
	-fx-font-weight: bold;
	-fx-padding: 20px 30px;
}

.section-header1, .section-header2 {
	-fx-font-weight: bold;
	-fx-text-fill: #393939;
	-fx-text-alignment: center;
}

.section-header1 {
	-fx-font-size: 18px;
}

.section-header2 {
	-fx-font-size: 16px;
}

.section {
	-fx-padding: 10px 30px 0 30px;
	-fx-spacing: 10px;
}

.section-menu {
	-fx-border-width: 0 1px 0 0;
	-fx-border-color: #393939;
	-fx-background-color: white;
}

.model-canvas {
	-fx-border-color: #A5A39C;
	-fx-border-width: 1px;
	-fx-border-radius: 2px;
	-fx-background-color: white;
}

.table, .log-infos {
	-fx-border-width: 1 0 1 0;
	-fx-border-color: #A5A39C;
}

.column-left .column-header .label, .column-left .label {
	-fx-alignment: CENTER-LEFT;
	-fx-background-color: transparent;
}

.info-icon-header {
	-fx-font-size: 30px;
	-fx-padding: 200px 0 0 0;
	-fx-alignment: center;
	-fx-text-fill: #A5A39C;
}

.info-icon:hover {
	-fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

.info-icon-label {
	-fx-alignment: center;
	-fx-font-size: 18px;
	-fx-padding: 10px 0 0 0;
	-fx-text-fill: #A5A39C;
}

.column-right .label {
	-fx-alignment: CENTER-RIGHT;
	-fx-background-color: transparent;
}

.column-center .column-header .label, 
.column-center.table-column, 
.column-center .label, 
.column-center .table-cell {
	-fx-alignment: CENTER;
	-fx-background-color: transparent;
}

.column-header,
.column-header .filler,
.column-header-background .filler {
    -fx-background-color: white;
}

.table-view, .list-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: green;
}

.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: blue;
}

.table-view .table-cell, .list-cell {
    -fx-border-width: 0 0 0 0;
    -fx-background-color:white;
    -fx-text-fill: #393939;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -color-darker-blue;
    -fx-text-fill: white;
}

.table-cell:selected {
	-fx-background-color: -color-darker-blue;
	-fx-text-fill: white;
}

.table-row-cell {
    -fx-border-width: 0 0 0 0;
    -fx-border-color: white;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: -color-darker-blue;
    -fx-text-fill: white;
}
.table-row-cell:hover .text {
       -fx-background-color: -color-darker-blue;
       -fx-text-fill: white;
}

.table-row-cell {
	-fx-border-width: 0 0 0 0;
}

.lightbox {
	-fx-background-color: rgba(255, 255, 255, 1);
    -fx-effect: dropshadow(gaussian, grey, 10, 0, 0, 0);
    -fx-background-insets: 10;
    -fx-padding: 20px;
}


/*
 * Buttons
 */

.btn-default, .dialog-pane .button {
	-fx-border-width: 2px;
	-fx-border-color: #393939;
	-fx-font-weight: bold;
	-fx-background-color: #393939;
	-fx-text-fill: white;
	-fx-background-radius: 0px;
	-fx-border-radius: 0px;
	-fx-cursor: hand;
}

.btn-round {
	-fx-background-radius: 40px;
	-fx-border-radius: 40px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
}

.btn-header {
	-fx-border-width: 2px;
	-fx-background-color: #00a6fb;
	-fx-text-fill: white;
	-fx-border-color: #00a6fb;
	-fx-border-radius: 0px;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

.btn-default:hover, .dialog-pane .button:hover {
	-fx-background-color: white;
	-fx-text-fill: #393939;
}

.btn-header:hover {	
	-fx-font-size: 14px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-background-color: #4bb3fd;
	-fx-border-color: #4bb3fd;
}

.btn-save {
	-fx-border-color: #39bb1b;
	-fx-background-color: #39bb1b;
	-fx-text-fill: white;
}

.btn-save:hover {
	-fx-border-color: #39bb1b;
	-fx-background-color: white;
	-fx-text-fill: #39bb1b;
}

.btn-important {
	-fx-border-color: #fcbe03;
	-fx-background-color: #fcbe03;
}

.btn-important:hover {
	-fx-text-fill: #fcbe03;
}

.btn-important-with-graphic {
	-fx-border-color: #fcbe03;
	-fx-background-color: #fcbe03;
	-fx-font-size: 16px;
}

.btn-important-with-graphic:hover {
	-fx-border-color: #fcbe03;
	-fx-background-color: #ffce03;
	-fx-text-fill: white;
}

.add-button-with-graphic {
	-fx-border-color: #2ecc71;
	-fx-background-color: #2ecc71;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.add-button-with-graphic:hover {
	-fx-border-color: #2edd71;
	-fx-background-color: #2edd71;
	-fx-text-fill: white;
}

.delete-button-with-graphic {
	-fx-border-color: #e74c3c;
	-fx-background-color: #e74c3c;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.delete-button-with-graphic:hover {
	-fx-border-color: #f94c3c;
	-fx-background-color: #f94c3c;
	-fx-text-fill: white;
}


.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #393939;
    -fx-background-radius: 5em;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0.5;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{	
    -fx-background-color: #4bb3fd;
	-fx-background-radius: 2 2 0 0, 2 2 0 0, 2 2 0 0;
}

.tab-pane .tab:selected
{
   	-fx-background-color: white;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #393939;
}

.tab:selected .focus-indicator {
    -fx-border-radius: 2 2 0 0, 2 2 0 0;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 5 2 0 0;
}

.trace-info {
	-fx-background-color: #393939;
	-fx-text-fill: white;
	-fx-padding: 10px; 
}

.trace-info-index {
	-fx-text-fill: white;
	-fx-font-size: 30px;
	-fx-padding: 20px 40px;
}

.trace-info-activity-label {
	-fx-font-size: 24px;
	-fx-text-fill: white;
}

.trace-info-content {
	-fx-text-fill: white;
}

.window {
	-fx-background-color: #4bb3fd;
}

.window-header {
	-fx-background-color: #00a6fb;
	-fx-padding: 15px;
}

.window-header-label {
	-fx-font-size: 18px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.window-header2 {
	-fx-padding: 5px 15px 5px 15px;
	-fx-font-size: 17px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.eventlog-list, .models-list {
	-fx-background-color: transparent;
}

.eventlog-list .list-cell, .models-list .list-cell {
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.eventlog-list .list-cell:filled:selected:focused, .eventlog-list .list-cell:filled:selected, .models-list .list-cell:filled:selected:focused,.models-list .list-cell:filled:selected {
    -fx-background-color: #4bb3fd;
    -fx-text-fill: white;
}

.list-element {
	-fx-background-color: #00a6fb;
	-fx-text-fill: white;
	-fx-padding: 10px;
	-fx-cursor: hand;
}

.list-element-name {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

.list-element-date {
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

/*
 * TitledPane
 */
.titled-pane {   
	-fx-text-fill: white;
	-fx-background-color: #4bb3fd;
}

.titled-pane:focused {
	-fx-text-fill: white;
}

.titled-pane > .title {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 16px;
	-fx-background-color: #4bb3fd;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
	-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title {
	-fx-color: -fx-focus-color;
}

.titled-pane > .title > .arrow-button {
	-fx-background-color: null;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow {
	-fx-background-color: white;
}

.titled-pane > *.content {
	-fx-background-color: white;
	-fx-background-insets: 0, 0 1 1 1;
	-fx-padding: 10px;
	-fx-border-color: white;
}

.titled-pane:focused > .title > .arrow-button .arrow {
	-fx-background-color: white;
}

/*
 * EditPanes - Activities, Constraints
 */
 .editpane {
 	-fx-padding: 10px 0 10px 0;
 }
 
 .editpane-header{
 	-fx-font-size: 14px;
 	-fx-font-weight: bold;
 }
 
 .edit-name {
	
 }
 
 .existence-constraint-box {
 	-fx-padding: 10px 0 0 0;
 }
 
.errorMessageLabel{
	-fx-text-fill: red;
}

.hide {
	visibility: hidden;
}

.display {
	visibility: visible;
}

.chart-area-symbol { -fx-background-color: null, null; }

.dialog-pane {
    -fx-background-color: white;
}

.dialog-pane .label {
    -fx-text-fill: #393939;
}

.dialog-pane:header .header-panel {
    -fx-background-color: white;
}

.dialog-pane:header .header-panel .label {
    -fx-text-fill: #393939;
    -fx-font-size: 2em;
}

.dialog-pane > *.label.content{
    -fx-font-size: 14px;
    -fx-padding: 20px;
}

.documentation-section-header1,.documentation-section-header2  {
	-fx-font-weight: bold;
	-fx-padding: 10px;
}

.documentation-section-header1 {
	-fx-font-size: 40px;
}

.documentation-section-header2 {
	-fx-font-size: 24px;
}

.documentation-sidebar, .documentation-main, .documentation {
	-fx-background-color: white;
}

.documentation-sidebar {
	-fx-padding: 40px 10px 20px 20px;
}

.documentation-main {
	-fx-padding: 10px 0px 20px 20px; 
}

.documentation-sidebar-panel {
	-fx-border-color: #393939;
	-fx-border-radius: 2;
}

.documentation-sidebar-list .list-cell:filled:selected:focused, .documentation-sidebar-list .list-cell:filled:selected {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-text-fill: #393939;
}

.documentation-sidebar-header {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-padding: 10px;
}

.documentation-sidebar-list {
	-fx-border-width: 1px 0 0 0;
	-fx-border-color: #393939;
}

.loading {
	-fx-background-color: #4bb3fd;
}

.loading .label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-padding: 0 20px 0 0;
}

.loading .progress-indicator {
	-fx-progress-color: white;
}

 